.graph-container {
    display: flex;
}

.graph-container-child {
    flex: 1;
    border: 2px solid lightgray;
    margin-right: 20px;
}

.graph-bar-container {
    display: flex;
    margin-bottom: 30px;
}

.graph-container-bar-child {
    flex: 1;
    border: 2px solid lightgray;
    margin-top: 20px;
}